{erl_opts, [debug_info]}.
{deps,[
       {jsx, "2.8.0"},
       {recon, "2.3.6"},
       {cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.6.0" }}},
       {gun, {git, "git://github.com/ninenines/gun.git", {ref, "2722eca9048f990bd5e8d247d9dc2620320c6020"}}}
      ]}.

{shell, [
    {config, [{config, "release-files/sys.config"}]},
    {apps, [stetson_test]}
]}.
